@{
    ViewData["Title"] = "Makale";
}

<article class="blog-post px-3 py-5 p-md-5">
	<div class="container">
		<header class="blog-post-header">
			<h2 class="title mb-2">Why Every Developer Should Have A Blog</h2>
			<div class="meta mb-3"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
		</header>

		<div class="blog-post-body">
			<figure class="blog-banner">
				<a href="https://made4dev.com"><img class="img-fluid" src="~/img/sample_banner.jpg" alt="image"></a>
				<figcaption class="mt-2 text-center image-caption">Image Credit: <a href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
			</figure>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. </p>

		</div>

		<div>
			@* Yorum alanları *@
		</div>

		<nav class="blog-nav nav nav-justified my-5">
			<a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Önceki Makale<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
			<a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">Sonraki Makale<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
		</nav>

	</div><!--//container-->
</article>
