@{
    ViewData["Title"] = "İletişim";
}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        var message = '@Html.Raw(ViewBag.Message)';
        if (message) {
            alert(message);
        }

        $(".nav-item").removeClass("active");
        $("#contactLi").addClass("active");
    });
    function onSubmit(token) {
        document.getElementById("contactForm").submit();
    }
</script>

<script src="https://www.google.com/recaptcha/api.js"></script>


<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">İletişim</h2>
        <div class="intro">Herhangi bir konu hakkında bize ulaşın</div>
        <form id="contactForm" class="signup-form form-inline justify-content-center pt-3" method="post" action="@Url.Action("SaveContact", "Home")">
            <div class="form-group">
                <div class="row">
                    <label class="sr-only" for="FullName">FullName</label>
                    <input type="text" id="FullName" name="FullName" class="form-control mr-md-1" placeholder="Ad Soyad">
                </div>
                <div class="row">
                    <label class="sr-only" for="Mail">Mail</label>
                    <input type="email" id="Mail" name="Mail" class="form-control mr-md-1" placeholder="Mail">
                </div>
                <div class="row">
                    <label class="sr-only" for="Subject">Subject</label>
                    <input type="text" id="Subject" name="Subject" class="form-control mr-md-1" placeholder="Konu">
                </div>
                <div class="row">
                    <label class="sr-only" for="Message">Message</label>
                    <textarea type="text" rows="12" id="Message" name="Message" class="form-control mr-md-1" placeholder="Mesaj"></textarea>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary g-recaptcha" data-sitekey="@ViewBag.CaptchaKey" data-callback='onSubmit' data-action='submit'>
                        Gönder
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

<style>
    .form-group {
        display: block !important;
    }

    .row {
        display: block !important;
        margin: 15px !important;
    }

    .grecaptcha-badge{
        bottom: 0px!important;
        z-index : 10;
    }
</style>