@{
    ViewData["Title"] = "İletişim";
}


<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">İletişim</h2>
        <div class="intro">Herhangi bir konu hakkında bize ulaşın</div>
        <form class="signup-form form-inline justify-content-center pt-3">
            <div class="form-group">
                <div class="row">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control mr-md-1" placeholder="Ad Soyad">
                </div>
                <div class="row">
                    <label class="sr-only" for="mail">Mail</label>
                    <input type="email" id="mail" name="mail" class="form-control mr-md-1" placeholder="Mail">
                </div>
                <div class="row">
                    <label class="sr-only" for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" class="form-control mr-md-1" placeholder="Konu">
                </div>
                <div class="row">
                    <label class="sr-only" for="message">Message</label>
                    <textarea type="text" rows="12" id="message" name="message" class="form-control mr-md-1" placeholder="Mesaj"></textarea>
                </div>

                Captcha Alanı

                <div class="row">
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </div>
        </form>
    </div>
</section>

<style>
    .form-group {
        display: block !important;
    }

    .row {
        display: block !important;
        margin: 15px !important;
    }
</style>