<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Selahattin Akan">
    <title>@ViewData["Title"] - BLOG SAKAN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BLOG_SA.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico">

    @* v5.7.1 *@
    <script src="~/lib/font-awesome/font-awesome.min.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>

    <link href="~/css/themes/theme-7.css" rel="stylesheet" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F304NNGXQJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F304NNGXQJ');

        var socket;

        document.addEventListener("DOMContentLoaded", () => {
            ForeignCurrencySocket();
        });

        function ForeignCurrencySocket() {
            try {
                socket = new WebSocket('wss://s.canlidoviz.com/socket.io/?EIO=4&transport=websocket');
                socket.addEventListener('open', (event) => {
                    try {
                        console.log('Döviz bağlantı açıldı.');
                        socket.send('40');
                        console.log('40 Gönderildi.');
                        socket.send('42["us",{"itemTypes":["CURRENCY"],"itemCodes":["GA","EUR/USD","BTC","XAU/USD","GAG","XAU/XAG","XBRUSD","DVZSP1","XU100","USD/RUB","GBP/USD","USD/JPY","GBP/EUR","USD/CAD","USD/SEK","AUD/USD"],"sendMessages":false}]');
                        console.log('42 Gönderildi.Dinleme bekleniyor...');
                    }
                    catch (err) {
                        $("#dolarRate").hide();
                        $("#euroRate").hide();
                        console.log("Döviz socket açılışında hata alındı. \n" + err.message);
                    }
                });
                socket.addEventListener('message', (event) => {
                    try {
                        console.log("Döviz mesaj alındı");
                        var testData = '42["c",["USD|0|32.0005|32.0082|||0.0935|0.0029","GA|0|2243.378|2243.542|||9.536|0.0043","GA|1|2404.35|2430.11|||3.46|0.0014","EUR|0|35.0069|35.1052|||0.0648|0.0018","XAU/USD|0|2180.23|2180.39|||2.77|0.0013","DKK|0|4.8512|4.8755|||0.1902|0.0406","NOK|0|3.173|3.1889|||0.1255|0.041","JPY|0|22.4885|22.6012|||0.0046|0.0002","ZAR|0|1.754|1.7628|||-0.0107|-0.006","NZD|0|20.4194|20.5217|||0.0019|0.0001","DVZSP1|0|33.5037|33.5568|||0.0792|0.0024","XAU/XAG|0|89.32|89.43|||-0.26|-0.0029","USD/JPY|0|147.02|147.06|||-0.03|-0.0002","GAG|0|25.0753|25.1267|||0.1878|0.0075"]]';
                        RenderExchangeRate(event.data);
                    }
                    catch (err) {
                        $("#dolarRate").hide();
                        $("#euroRate").hide();
                        console.log("Döviz mesaj alımında hata alındı. \n" + err.message);
                    }
                });
                socket.addEventListener('close', (event) => {
                    console.log('Döviz bağlantı kapandı.');
                    ForeignCurrencySocket();
                });
            }
            catch (err) {
                $("#dolarRate").hide();
                $("#euroRate").hide();
                console.log("Döviz socket configurasyonunda hata alındı. \n" + err.message);
            }
        }

        function RenderExchangeRate(data) {
            try {
                if (data.slice(0, 2) == "42") {
                    var arr = JSON.parse(data.slice(2))[1];
                    for (var i = 0; i < arr.length; i++) {
                        if (arr[i].slice(0, 6) == "USD|0|") {
                            var usdArr = arr[i].split("|");
                            $("#dolarRate").html("Dolar : " + usdArr[3]);
                            $("#dolarRate").show();
                        }
                        else if (arr[i].slice(0, 6) == "EUR|0|") {
                            var eurArr = arr[i].split("|");
                            $("#euroRate").html("Euro : " + eurArr[3]);
                            $("#euroRate").show();
                        }
                    }
                }
            }
            catch (err) {
                $("#dolarRate").hide();
                $("#euroRate").hide();
                console.log("Döviz parse edilirken hata alındı. \n" + err.message);
            }
        }
    </script>
</head>
<body>

    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a asp-area="" asp-controller="Home" asp-action="Index">Blog SAkan</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 mx-auto" src="~/img/dev_icon.png" alt="image">
                    <div class="bio mb-3">Merhaba, ben Selahattin Akan.<br /> Güncel backend teknolojileri hakkında öğrendiklerimi deneyimlemek için bu blog siteyi yarattım. Amacım makale yayınlamak değil öğrendiklerimi uygulayabilmek! Önceliğim backend olduğu için frontend tarafında tasarım, performans, güvenlik vb. konulara çok odaklanmadım, şimdilik.  </div><!--//bio-->
                    <ul class="social-list list-inline py-3 mx-auto">
                        <li title="Linkedin" class="list-inline-item"><a href="https://www.linkedin.com/in/selahattin-akan-80697014a/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                        <li title="GitHub" class="list-inline-item"><a href="https://github.com/selahattinakan" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
                        <li title="Stack Overflow" class="list-inline-item"><a href="https://stackoverflow.com/users/5118387/interrupt" target="_blank"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                    </ul><!--//social-list-->
                    <hr>
                </div><!--//profile-section-->

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item active" id="homeLi">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home fa-fw mr-2"></i>Anasayfa</a>
                    </li>
                    <li class="nav-item" id="contactLi">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fas fa-envelope-open fa-fw mr-2"></i>İletişim</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <div class="main-wrapper">

        @RenderBody()

        <footer id="layoutFooter" class="footer text-center py-2 theme-bg-dark" style="position: fixed;bottom: 0px;width: calc(100% - 280px);">
            <small class="copyright">
                © @DateTime.Now.Year.ToString() - Bu bir backend dev blogudur, frontendimiz kalmamıştır. <br />
                <span id="dolarRate" style="margin-left: -10px;margin-right: 20px;display:none"></span><span id="euroRate" style="display:none"></span>
            </small>
        </footer>

    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
