﻿@{
    ViewData["Title"] = "Hmmmm";
}
<div class="container">
    <div class="row">
        <div class="col">
            <p> Bir şeyler ters gitmiş olabilir :(</p>
            <p> @ViewBag.Message</p>
        </div>
    </div>
</div>