@using Constants.Enums;
@{
    ViewData["Title"] = "Aboneler";
    Layout = "_LayoutAdmin";
}

@section Scripts {


    <script>
        var dTable;
        $(document).ready(function () {
            RenderTable(true);
            $("#subscriberLink").addClass("active");
        });

        function RenderTable(firstTime) {
            $.ajax({
                type: "POST",
                url: "/Admin/GetSubscribers",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        }

        function OnSuccess(response) {
            dTable = $("#dataTable").DataTable(
                {
                    bLengthChange: true,
                    lengthMenu: [[10, 20, -1], [10, 20, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    bSelectedOnly: true,
                    select: true,
                    data: response,
                    order: [[1, 'desc']],
                    columns: [
                        { data: "mail", name: "Mail" },
                        {
                            data: "registerDate", name: "Kayıt Tarihi", render: function (data, type, row) {
                                if (type === "sort" || type === "type") {
                                    return data;
                                }
                                return moment(data).format("DD.MM.YYYY HH:mm");
                            }
                        }
                    ]
                });
        }

    </script>

}


<div style="margin-top:30px;">
    <table id="dataTable" class="display">
        <thead>
            <tr>
                <th>Mail</th>
                <th>Kayıt Tarihi</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>

