@using Constants.Enums;
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "_LayoutAdmin";
}

<script>
    var dTable;
    $(document).ready(function () {
        RenderTable(true);
        $("#userLink").addClass("active");
    });

    function RenderTable(firstTime) {
        if (!firstTime) {
            dTable.clear().draw();
            $.ajax({
                type: "POST",
                url: "/Admin/GetAdmins",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    dTable.rows.add(result);
                    dTable.draw();
                    CreateSelectedEvent();
                },
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Admin/GetAdmins",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        }

        CreateSelectedEvent();

    }

    function OnSuccess(response) {
        dTable = $("#dataTable").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[10, 20, -1], [10, 20, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                bSelectedOnly: true,
                select: true,
                data: response,
                columns: [
                    { data: "id", name: "Id", visible: false },
                    { data: "fullName", name: "Adı Soyadı" },
                    { data: "userName", name: "Kullanıcı Adı" },
                    {
                        data: "registerDate", name: "Kayıt Tarihi", render: function (data, type, row) {
                            if (type === "sort" || type === "type") {
                                return data;
                            }
                            return moment(data).format("DD.MM.YYYY HH:mm");
                        }
                    }
                ]
            });
    }

    function CreateSelectedEvent() {
        $('#dataTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                ClearForm();
                $(this).removeClass('selected');
            }
            else {
                dTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $("#Id").val(dTable.row(this).data().id);
                $("#FullName").val(dTable.row(this).data().fullName);
                $("#UserName").val(dTable.row(this).data().userName);
                $("#Password").val(dTable.row(this).data().password);
            }
        });
    }

    function ClearForm() {
        $("form input").val('');
    }

    function NewClick() {
        ClearForm();
        dTable.$('tr.selected').removeClass('selected');
    }

    function SaveClick() {
        var data = $("form").serialize();
        $.ajax({
            type: "POST",
            url: "/Admin/SaveAdmin",
            data: data,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result.Result == @((int)Result.Success)) {
                    ClearForm();
                    RenderTable(false);
                }
                alert(result.Message);
            },
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    }

    function DeleteClick() {
        if (dTable.row('.selected').count() > 0 && parseInt(dTable.row('.selected').data().id) > 0) {
            var id = parseInt(dTable.row('.selected').data().id);
            if (confirm("Silme işlemini onaylıyor musunuz?")) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/DeleteAdmin",
                    data: "id=" + id,
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (result) {
                        if (result.Result == @((int)Result.Success)) {
                            ClearForm();
                            RenderTable(false);
                        }
                        alert(result.Message);
                    },
                    failure: function (response) {
                        alert(response.d);
                    },
                    error: function (response) {
                        alert(response.d);
                    }
                });
            }
        }
        else {
            alert("Lütfen bir kayıt seçiniz");
        }
    }

</script>


<form>
    @Html.Hidden("Id")

    <div style="margin: 20px 0px;">
        <button type="button" class="btn btn-outline-primary" onclick="NewClick()">Yeni</button>
        <button type="button" class="btn btn-outline-success" onclick="SaveClick()">Kaydet</button>
        <button type="button" class="btn btn-outline-danger" onclick="DeleteClick()">Sil</button>
    </div>

    <div style="height:1px;width:100%;margin:20px 0;background:#ccc;"></div>

    <div class="form-group">
        <div class="row">
            <div class="col col-md-4">
                <label for="FullName">Adı Soyadı</label>
                <input type="text" class="form-control" id="FullName" name="FullName" placeholder="Adı Soyadı">
            </div>
            <div class="col col-md-4">
                <label for="UserName">Kullanıcı Adı</label>
                <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Kullanıcı Adı">
            </div>
            <div class="col col-md-4">
                <label for="Password">Şifre</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Şifre">
            </div>
        </div>
    </div>

    <div style="height:1px;width:100%;margin:30px 0;background:#ccc;"></div>

</form>


<table id="dataTable" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adı Soyadı</th>
            <th>Kullanıcı Adı</th>
            <th>Kayıt Tarihi</th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>