@model bool
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/login.css" rel="stylesheet" />
    
</head>
<body>

    <div class="login-page">
        <div class="form">
            <form class="login-form" method="post">
                <input type="text" placeholder="Kullanıcı Adı" id="UserName" name="UserName" />
                <input type="password" placeholder="Şifre" id="Password" name="Password" />
                <input type="submit" class="button" value="Giriş Yap">
                @{
                    if (!Model)
                    {
                        <p class="message">Kullanıcı adı veya şifre hatalı!</p>
                    }
                }
            </form>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
